<div class="poi-new">
	<div class="poi-new__header">
		<h2 class="poi-new__title">Add new POI</h2>
	</div>
	<div class="poi-new__body">
		<div class="poi-new__row">
			<label class="poi-new__label">Name</label>
			<input class="poi-new__input" type="text" placeholder="Name" />
		</div>
		<div class="poi-new__row">
			<label class="poi-new__label">Name variations</label>
			<ul class="poi-new__list"></ul>
		</div>
		<div class="poi-new__row">
			<label class="poi-new__label">Description variations</label>
			<ul class="poi-new__list"></ul>
		</div>
		<div class="poi-new__row">
			<label class="poi-new__label">Add new name variation</label>
			<input class="poi-new__input" type="text" placeholder="Name" />
			<button class="poi-new__btn poi-new__btn--add btn-primary">
				Add
			</button>
		</div>
	</div>
	<div class="poi-new__footer">
		<button class="poi-new__btn poi-new__btn--cancel btn-danger">
			Cancel
		</button>
		<button class="poi-new__btn poi-new__btn--save btn-success">
			Save
		</button>
	</div>
</div>
